/* 
1. posicionamiento
2. modelo de caja (box model)
3. tipografia
4. efectos visuales
5. otros complementos
*/
:root {
     /* colores*/
     --bitcoin-orange: #F7931A;
     --soft-orange: #ffe9d5;
     --secondary-blue: #1a9af7;
     --soft-blue: #e7f5ff;
     --warm-black: #201E1C;
     --black: #282623;
     --grey: #bababa;
     --off-white: #faf8f7;
     --just-white: #fff;


}
*{
    /* 2. modelo de caja*/
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
